body{
    background-color: white;
}
.custom-centered{
    margin:0 auto;
    width:300px;
}
.cont{
    margin: 200px;
    display: flex;
    justify-content: center;
}
h5.text-center{
    font-weight: bold;
}
.btn{
    background: #049CE4;
    border-radius: 50px;
    color: white;
    width: 150px;
    height: 50px;
    
}
.text{
    margin-top: 20px;
}
#confirm{
    margin-top: 10px;
}

